@{
  ViewData["Title"] = "ASP.NET Core File Downloader";
}

<div class="text-center">
  <p>A simple ASP.NET Core File Downloader Web App</a>.</p>
</div>

<div class="card">
  <h5 class="card-header">Download</h5>
  <div class="card-body">
    <h5 class="card-title">Download Heading</h5>
    <p class="card-text">A test file to test downloading.</p>
    <a asp-area="" asp-controller="FileService" asp-action="DownloadBrochure" class="btn btn-primary">
      Download Brochure
    </a>
  </div>
</div>